body {
  background: linear-gradient(to bottom, red, yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.search-bar {
  position: relative;
}

.search-container {
  text-align: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #0b7cb5;
}